<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Delete User</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/create">Create user</a></li>
    </ul>
    <div class="form">
      <form action="/delete-user" method="POST">
        <fieldset>
          <legend>Confirm delete user</legend>
          <label>Id:</label>
          <input
            type="text"
            id="userID"
            name="userID"
            value="<%= user.id %>"
          /><br /><br />
          <label>Email:</label>
          <input
            type="text"
            id="emailId"
            name="emailId"
            value="<%= user.email %>"
          /><br /><br />
          <input type="submit" value="Confirm" />
        </fieldset>
      </form>
    </div>
  </body>
</html>
