<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Update User</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/create">Create user</a></li>
    </ul>
    <div class="form">
      <form action="/create-user" method="POST">
        <% user.forEach(function(item) { %>
        <fieldset>
          <legend>Form update user</legend>
          <label>Email:</label>
          <input
            type="text"
            id="emailId"
            name="emailId"
            value="<%= item.email %>"
          /><br /><br />
          <label>Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            value="<%= item.name %>"
          /><br /><br />
          <label>City:</label>
          <input
            type="text"
            id="city"
            name="city"
            value="<%= item.city %>"
          /><br /><br />
          <input type="submit" value="Submit" />
        </fieldset>
        <% }); %>
      </form>
    </div>
  </body>
</html>
